<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>feedback</directory>
  <name>在线留言</name>
  <author>一些事情</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}feedback(
	      [id] COUNTER PRIMARY KEY,
	      [site_path] STRING(100),
	      [title] STRING(100),
	      [content] MEMO,
	      [user_name] STRING(50),
	      [user_tel] STRING(30),
	      [user_qq] STRING(30),
	      [user_email] STRING(100),
	      [add_time] DATETIME NOT NULL DEFAULT NOW(),
	      [reply_content] MEMO,
	      [reply_time] DATETIME,
	      [is_lock] INTEGER NOT NULL DEFAULT 0
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}feedback</sql>
  </uninstall>
  <urls>
    <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
      <item path="feedback.aspx" pattern="feedback.aspx" />
      <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_feedback" title="留言管理" url="admin/index.aspx" action="Show,View,Delete,Audit,Reply" />
  </menu>
</plugin>