<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DataMap.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DataMap.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DataMap.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DataMap.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DataMap.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DataMap.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DataMap.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DataMap.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DataMap.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DataMap.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DataMap.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DataMap.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DataMap.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DataMap.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DataMap.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DataMap.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DataMap.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="news" type="index" page="news.aspx" inherit="DataMap.Web.UI.Page.article" templet="news.html" channel="news">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="DataMap.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="10">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="DataMap.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.aspx" inherit="DataMap.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DataMap.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DataMap.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="cases" type="index" page="cases.aspx" inherit="DataMap.Web.UI.Page.article_list" templet="cases.html" channel="cases" pagesize="12">
    <item path="cases.aspx" pattern="cases.aspx" />
  </rewrite>
  <rewrite name="cases_list" type="list" page="cases_list.aspx" inherit="DataMap.Web.UI.Page.article_list" templet="cases_list.html" channel="cases" pagesize="12">
    <item path="cases/{0}.aspx" pattern="cases/(\d+).aspx" querystring="category_id=$1" />
    <item path="cases/{0}/{1}.aspx" pattern="cases/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="cases_show" type="detail" page="cases_show.aspx" inherit="DataMap.Web.UI.Page.article_show" templet="cases_show.html" channel="cases">
    <item path="cases/show-{0}.aspx" pattern="cases/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="services" type="index" page="services.aspx" inherit="DataMap.Web.UI.Page.article" templet="services.html" channel="services">
    <item path="services.aspx" pattern="services.aspx" />
  </rewrite>
  <rewrite name="services_list" type="list" page="services_list.aspx" inherit="DataMap.Web.UI.Page.article_list" templet="services_list.html" channel="services" pagesize="20">
    <item path="services/{0}.aspx" pattern="services/(\d+).aspx" querystring="category_id=$1" />
    <item path="services/{0}/{1}.aspx" pattern="services/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="services_show" type="detail" page="services_show.aspx" inherit="DataMap.Web.UI.Page.article_show" templet="services_show.html" channel="services">
    <item path="services/show-{0}.aspx" pattern="services/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="mobile" type="index" page="mobile.aspx" inherit="DataMap.Web.UI.Page.article" templet="mobile.html" channel="mobile">
    <item path="mobile.aspx" pattern="mobile.aspx" />
  </rewrite>
  <rewrite name="mobile_list" type="list" page="mobile_list.aspx" inherit="DataMap.Web.UI.Page.article_list" templet="mobile_list.html" channel="mobile" pagesize="20">
    <item path="mobile/{0}.aspx" pattern="mobile/(\d+).aspx" querystring="category_id=$1" />
    <item path="mobile/{0}/{1}.aspx" pattern="mobile/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="photo_show" type="detail" page="photo_show.aspx" inherit="DataMap.Web.UI.Page.article_show" templet="photo_show.html" channel="mobile">
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="solutions" type="index" page="solutions.aspx" inherit="DataMap.Web.UI.Page.article" templet="solutions.html" channel="solutions">
    <item path="solutions.aspx" pattern="solutions.aspx" />
  </rewrite>
  <rewrite name="solutions_list" type="list" page="solutions_list.aspx" inherit="DataMap.Web.UI.Page.article_list" templet="solutions_list.html" channel="solutions" pagesize="20">
    <item path="solutions/{0}.aspx" pattern="solutions/(\d+).aspx" querystring="category_id=$1" />
    <item path="solutions/{0}/{1}.aspx" pattern="solutions/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="solutions_show" type="detail" page="solutions_show.aspx" inherit="DataMap.Web.UI.Page.article_show" templet="solutions_show.html" channel="solutions">
    <item path="solutions/show-{0}.aspx" pattern="solutions/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>