<footer class="footer">
    <div class="contact">
        <div class="wrap">
            <div class="home_about fl">
                <dl>
                    <dt>
                        <a href="index.html" tppabs="http://www.datamapsoft.com/about/">
                            关于我们
                        </a>
                    </dt>
                    <dd>
                        戴特数图软件专注于网站定制，始终追求“用最快的速度定制出最好的网站”。懂您所需、做您所想！我们一直在思考如何为客户创造更大的价值，让客户更省心!
                    </dd>
                    <dd>
                        <a href="index.html" tppabs="about/" class="more">
                            查看更多 >>
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="home_case fl">
                <h2>
                    <a href="../cases.html" tppabs="http://www.datamapsoft.com/cases/">
                        最新案例
                    </a>
                </h2>
                <ul>
                    <%set DataTable footfocuscases=get_article_list("cases", 0, 2, "status=0 and is_slide=1")%>
                    <%foreach(DataRow dr in footfocuscases.Rows)%>
                    <li>
                        <a href="<%linkurl("cases_show",{dr[id]})%>" tppabs="#" target="_blank">
                            <img width="80" height="52" alt="{dr[title]}" src="{dr[img_url]}"> 
                        </a>
                        <h5>
                            <a href="<%linkurl("cases_show",{dr[id]})%>" tppabs="#" target="_blank">
                                <%cutstring({dr[title]},20)%>
                            </a>
                        </h5>
                        <p class="text">
                            <a href="<%linkurl("cases_show",{dr[id]})%>" tppabs="#" target="_blank">
                                <%cutstring({dr[zhaiyao]},20)%>
                            </a>
                        </p>
                    </li>
                    <%/foreach%>
                </ul>
            </div>
            <div class="home_service fl">
                <h2>
                    <a href="../services.html" tppabs="#">
                        服务范围
                    </a>
                </h2>
                <%set DataTable footfocusservices=get_article_list("services", 0, 6, "")%>
                <%foreach(DataRow dr in footfocusservices.Rows)%>
                <a class="sub" href="<%linkurl("services_show",{dr[id]})%>" title="{dr[title]}" tppabs="#">
                    <%cutstring({dr[title]},8)%>
                </a>
                <%/foreach%>
            </div>
            <div class="home_contact fl">
                <h2>
                    <a href="../contact/index.html" tppabs="#">
                        联系我们
                    </a>
                </h2>
                <ul>
                    <li>
                        
                    </li>
                    <li>
                        <i class="weibo">
                        </i>
                        Q Q：
                        <a target="_blank" rel="nofollow" href="#">
                            174566696
                        </a>
                    </li>
                    <li>
                        <i class="email">
                        </i>
                        邮 箱：
                        <a target="_blank" rel="nofollow" href="mailto:174566696@qq.com">
                            datamapsoft@126.com
                        </a>
                    </li>
                    <li>
                        <i class="call">
                        </i>
                        电 话：130-9752-8306
                    </li>
                    <li>
                        <i class="weixin">
                        </i>
                        <a href="../contact/pay.html" tppabs="../contact/pay.html">
                            付款方式
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="blogroll">
        <div class="wrap">
            友情链接：
            <a href="#" target="_blank">
                网站建设公司
            </a>
            &nbsp;

            <p class="copyright">
                @2015-2016 版权所有 山西戴特数图网络科技有限公司 晋ICP备12345678号
            </p>
        </div>
    </div>
</footer>