<footer class="footer">
    <div class="contact">
        <div class="wrap">
            <div class="home_about fl">
                <dl>
                    <dt>
                        <a href="index.html" tppabs="http://www.tisx.net/about/">
                            关于我们
                        </a>
                    </dt>
                    <dd>
                        TI联盟专注于网站定制，始终追求“用最快的速度定制出最好的网站”。懂您所需、做您所想！我们一直在思考如何为客户创造更大的价值，让客户更省心!
                    </dd>
                    <dd>
                        <a href="index.html" tppabs="about/" class="more">
                            查看更多 >>
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="home_case fl">
                <h2>
                    <a href="../cases/index.html" tppabs="http://www.tisx.net/cases/">
                        最新案例
                    </a>
                </h2>
                <ul>
                    <li>
                        <h5>
                            <a href="#" tppabs="#" target="_blank">
                                日通国际物流（深圳...
                            </a>
                        </h5>
                        <p class="text">
                            <a href="#" tppabs="#" target="_blank">
                                日通国际物流（深圳）有限公司是...
                            </a>
                        </p>
                    </li>
                    <li>
                        <h5>
                            <a href="#" tppabs="#" target="_blank">
                                小牛资本
                            </a>
                        </h5>
                        <p class="text">
                            <a href="#" tppabs="#" target="_blank">
                                小牛资本管理集团以互联网金...
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="home_service fl">
                <h2>
                    <a href="#" tppabs="#">
                        服务范围
                    </a>
                </h2>
                <a class="sub" href="#" tppabs="#">
                    品牌官网设计
                </a>
                <a class="sub" href="#" tppabs="#">
                    商城网站建设
                </a>
                <a class="sub" href="#" tppabs="#">
                    手机网站建设
                </a>
                <a class="sub" href="#" tppabs="#">
                    微信网站建设
                </a>
                <a class="sub" href="#" tppabs="#">
                    其他网站定制
                </a>
            </div>
            <div class="home_contact fl">
                <h2>
                    <a href="../contact/index.html" tppabs="#">
                        联系我们
                    </a>
                </h2>
                <ul>
                    <li>
                        </i>
                    </li>
                    <li>
                        <i class="weibo">
                        </i>
                        Q Q：
                        <a target="_blank" rel="nofollow" href="#">
                            174566696
                        </a>
                    </li>
                    <li>
                        <i class="email">
                        </i>
                        邮 箱：
                        <a target="_blank" rel="nofollow" href="mailto:174566696@qq.com">
                            service@tisx.net
                        </a>
                    </li>
                    <li>
                        <i class="call">
                        </i>
                        电 话：130-9752-8306
                    </li>
                    <li>
                        <i class="weixin">
                        </i>
                        <a href="../contact/pay.html" tppabs="../contact/pay.html">
                            付款方式
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="blogroll">
        <div class="wrap">
            友情链接：
            <a href="#" target="_blank">
                网站建设公司
            </a>
            &nbsp;
            <a href="#" target="_blank">
                广州网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                北京网站开发公司
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站优化
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站设计
            </a>
            &nbsp;
            <a href="#" target="_blank">
                合肥网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网店系统
            </a>
            &nbsp;
            <a href="#" target="_blank">
                香港服务器
            </a>
            &nbsp;
            <a href="#" target="_blank">
                康辉国旅
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                香港服务器租用
            </a>
            &nbsp;
            <a href="#" target="_blank">
                长沙网站制作
            </a>
            &nbsp;
            <a href="#" target="_blank">
                内蒙古网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                北京制作网站
            </a>
            &nbsp;
            <a href="#" target="_blank">
                虚拟主机
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网店托管
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                长沙网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站优化
            </a>
            &nbsp;
            <a href="#" target="_blank">
                北京网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                本来摄影公司
            </a>
            &nbsp;
            <a href="#" target="_blank">
                商城网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                北京网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                珠海网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                香港服务器
            </a>
            &nbsp;
            <a href="#" target="_blank">
                做网站
            </a>
            &nbsp;
            <a href="#" target="_blank">
                佛山网站建设
            </a>
            &nbsp;
            <a href="#" target="_blank">
                杭州网络营销公司
            </a>
            &nbsp;
            <a href="#" target="_blank">
                北京网站建设
            </a>
            &nbsp;
            <p class="copyright">
                @2015-2016 版权所有 山西戴特数图网络科技有限公司 晋ICP备12345678号
            </p>
        </div>
    </div>
</footer>