<header class="header">
    <div class="wrap">
        <h1 class="fl">
            <a href="index.html" tppabs="http://www.datamapsoft.com/" class="fl logo">
                <img src="<%templateskin%>/Public/Web/images/index201601/logo.jpg"
                     alt="山西戴特数图网络科技有限公司" width="154" height="49" />
            </a>
        </h1>
        <div class="fl logo_text">
            <img src="<%templateskin%>/Public/Web/images/index201601/logo_text.jpg"
                 alt="懂你所需，做你所想" width="163" height="49" />
        </div>
        <div class="fr">
            <div class="top">
                <span class="call">
                </span>
                <span class="call_tel">
                    130-9752-8306
                </span>
                <a>
                    <span class="email">
                    </span>
                    datamapsoft@126.com
                </a>
                <a class="ewm">
                    <span class="weixin">
                    </span>
                    戴特数图软件
                    <img src="<%templateskin%>/Public/Web/images/contact_weixin.jpg" tppabs="http://www.datamapsoft.com/Public/Web/images/contact_weixin.jpg"
                         width="258" height="258" alt="戴特数图微信" />
                </a>
            </div>
            <nav class="nav">
                <ul class="fix">
                    <li id="menu1">
                        <a href="index.html" tppabs="/">
                            官网首页
                        </a>
                    </li>
                    <li id="menu2">
                        <a href="about.html" tppabs="/about/">
                            关于我们
                        </a>
                    </li>
                    <li id="menu3">
                        <a href="cases.html" tppabs="/cases/">
                            成功案例
                        </a>
                    </li>
                    <li id="menu4">
                        <a href="services.html" tppabs="/services/">
                            服务范围
                        </a>
                    </li>
                    <li id="menu5">
                        <a href="mobile.html" tppabs="/mobile/">
                            移动终端
                        </a>
                    </li>
                    <li id="menu6">
                        <a href="solutions.html" tppabs="/solutions/">
                            解决方案
                        </a>
                    </li>
                    <li id="menu7">
                        <a href="news.html" tppabs="/news/">
                            新闻资讯
                        </a>
                    </li>
                    <li id="menu8">
                        <a href="contact.html" tppabs="/contact/">
                            联系我们
                        </a>
                    </li>
                </ul>
                <span class="nav_icon">
                </span>
            </nav>
        </div>
    </div>
</header>
<script type="text/javascript">
    document.getElementById("menu1").className = "on";
</script>