<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>link</directory>
  <name>友情链接</name>
  <author>一些事情</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}link(
	      [[id] COUNTER PRIMARY KEY,
	      [site_path] STRING(100),
	      [title] STRING(255),
	      [user_name] STRING(50),
	      [user_tel] STRING(20),
	      [email] STRING(50),
	      [site_url] STRING(255),
	      [img_url] STRING(255),
	      [is_image] INTEGER NOT NULL DEFAULT 0,
	      [sort_id] INTEGER NOT NULL DEFAULT 99,
	      [is_red] INTEGER NOT NULL DEFAULT 0,
	      [is_lock] INTEGER NOT NULL,
	      [add_time] DATETIME NULL DEFAULT NOW()
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}link</sql>
  </uninstall>
  <urls>
    <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
      <item path="link.aspx" pattern="link.aspx" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_link" title="链接管理" url="admin/index.aspx" action="Show,View,Add,Edit,Delete,Audit" />
  </menu>
</plugin>